@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
  background-color: #fffef0;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer components {
  .main {
    @apply w-screen pt-14 xl:pt-14 px-5  md:pt-20 xl:mx-0  bg-yellowLight;
  }
  .navBarContainer {
    @apply flex gap-2  text-xs;
  }
  .navbarItem {
    @apply hover:text-green;
  }

  .active {
    @apply bg-greenBtn rounded-full px-2 hover:text-black;
  }
  .titleItem{
    @apply space-y-1
  }
  .titleAttibute {
    @apply text-green text-sm font-bold pb-1;
  }
  .topic {
    @apply text-xs font-semibold;
  }
  .description {
    @apply text-[11px];
  }
  .btnLink{
  @apply bg-greenBtn px-3 py-1 text-xs shadow-xl border-b border-gray-600/70 hover:scale-110 hover:-translate-y-1 rounded-full
  hover:bg-black hover:text-greenLight font-medium
  }
  
}
